/* base */
@import "./base/preset";

/* mixins */
@import "./helpers/mixins/initialize";

/* variables */
@import "./helpers/variables/initialize";

/* shared */
@import "./shared/general";

/* components */
@import "./components/initialize";

/* layouts */
@import "./layouts/initialize.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Netflix Sans";
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff2);
}