/* these are general spacing styles*/

$xxs: 3px;
$xs: 5px;
$sm: 10px;
$md: 15px;
$lg: 20px;
$xl: 25px;
$xxl: 30px;

$section-margin-xs: 40px;
$section-margin-sm: 70px;
$section-margin-lg: 90px;

$paragraph-margin-lg: 40px;